@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  --green-primary: #1DBF72;
  --green-dark: #138B52;
  --green-light: #1CDB80;
  --gray: #D0D5DD;
  
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

/* p,
h1 {
  margin: 0px;
  padding: 0px;
} */


/* Formulario de pagina Login / Cadastro */
.box {
  display: flex;
  background-color: var(--green-primary);
}

.form-itens {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  background-color: #fff;
  border-radius: 100px 0px 0px 100px;
}

.left-background {
  height: 100vh;
  width: 100vh;
}
/* ------------------------------------------- */